trix-editor {
    min-height: 25em;
}

div.container-fluid {
    padding: 25px 15px 0;
}

.footer {
    background-color: gainsboro;
}

.footer > .container {
    padding: 10px 15px;
    text-align: center;
}

code {
    font-size: 80%;
}
