<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Dashboard Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="dashboard.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="trix.css">
    <link href="footer.css" rel="stylesheet">
    <link href="cms.css" rel="stylesheet">
    <script type="text/javascript" src="trix-core.js"></script>
  </head>

  <body>
    <nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark p-1 shadow">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">
          CMS - Gestor de Conteúdo
      </a>

      <ul class="navbar-nav ml-auto px-3">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="d-none d-md-inline-block">Ricardo Silva dos Santos</span>
          </a>
          <div class="dropdown-menu position-absolute" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">ricardo.ss@defensoria.to.def.br</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Sair</a>
          </div>
        </li>
      </ul>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 bg-light sidebar">
          <div class="sidebar-sticky">
            <div class="collapse d-md-block" id="navbarSupportedContent">
               <div id="subMenuParent">
                  <ul class="nav flex-column">
                    <li class="nav-item">
                      <a class="nav-link active" href="#postagem" data-toggle="collapse">
                        <span data-feather="cast"></span>
                        Postagens
                      </a>
                      <div id="postagem" class="collapse pl-4"  data-parent="#subMenuParent">
                          <ul class="nav flex-column">
                            <li class="nav-item">
                              <a class="nav-link" href="#">
                                <span data-feather="message-square"></span>
                                Nova Notícia
                              </a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" href="#">
                                <span data-feather="layout"></span>
                                Nova Página
                              </a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" href="#">
                                <span data-feather="image"></span>
                                Nova Galeria
                              </a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" href="#">
                                <span data-feather="trello"></span>
                                Novo Banner
                              </a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" href="#">
                                <span data-feather="play-circle"></span>
                                Novo Vídeo
                              </a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" href="#">
                                <span data-feather="circle"></span>
                                Novo Botão
                              </a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" href="#">
                                <span data-feather="user"></span>
                                Nova Pessoa
                              </a>
                            </li>
                          </ul>
                      </div>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#contatos" data-toggle="collapse">
                        <span data-feather="phone"></span>
                        Contatos
                      </a>
                      <div id="contatos" class="collapse pl-4"  data-parent="#subMenuParent">
                        <ul class="nav flex-column">
                          <li class="nav-item">
                            <a class="nav-link" href="#">
                              <span data-feather="list"></span>
                              Listar
                            </a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#">
                              <span data-feather="plus-square"></span>
                              Cadastrar
                            </a>
                          </li>
                        </ul>
                      </div>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#destinos" data-toggle="collapse">
                        <span data-feather="send"></span>
                        Destinos
                      </a>
                      <div id="destinos" class="collapse pl-4"  data-parent="#subMenuParent">
                        <ul class="nav flex-column">
                          <li class="nav-item">
                            <a class="nav-link" href="#">
                              <span data-feather="list"></span>
                              Listar
                            </a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#">
                              <span data-feather="plus-square"></span>
                              Cadastrar
                            </a>
                          </li>
                        </ul>
                      </div>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#menus" data-toggle="collapse">
                        <span data-feather="menu"></span>
                        Menus
                      </a>
                      <div id="menus" class="collapse pl-4"  data-parent="#subMenuParent">
                        <ul class="nav flex-column">
                          <li class="nav-item">
                            <a class="nav-link" href="#">
                              <span data-feather="list"></span>
                              Listar
                            </a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#">
                              <span data-feather="plus-square"></span>
                              Cadastrar
                            </a>
                          </li>
                        </ul>
                      </div>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#administracao" data-toggle="collapse">
                        <span data-feather="settings"></span>
                        Administração
                      </a>
                      <div id="administracao" class="collapse pl-4" data-parent="#subMenuParent">
                         <ul class="nav flex-column">
                           <li class="nav-item">
                             <a href="" class="nav-link">
                               <span data-feather="user"></span>
                               Usuários
                             </a>
                           </li>
                           <li class="nav-item">
                             <a href="" class="nav-link">
                                <span data-feather="users"></span>
                                Grupos
                             </a>
                           </li>
                           <li class="nav-item">
                             <a href="" class="nav-link">
                               <span data-feather="check-square"></span>
                               Auditoria
                             </a>
                           </li>
                         </ul>
                      </div>
                    </li>
                  </ul>
               </div>
            </div>
          </div>
        </nav>

        <main role="main" class="col-md-10 ml-sm-auto col-lg-10">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Notícia</h1>
          </div>
            <nav class="nav-justified">
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-conteudo-tab" data-toggle="tab" href="#conteudo" role="tab" aria-controls="nav-conteudo" aria-selected="true">Conteúdo</a>
                    <a class="nav-item nav-link" id="nav-comentario-tab" data-toggle="tab" href="#comentario" role="tab" aria-controls="nav-comentario" aria-selected="false">Comentários</a>
                </div>
                <hr>
            </nav>
            <div class="tab-content" id="nav-TabContent">
                <div class="tab-pane fade show active" id="conteudo" role="tabpanel" aria-labelledby="nav-conteudo-tab">
                    <div class="row">
                      <div class="col-md-9">
                       <div class="card shadow">
                           <div class="card-body">
                               Título do post cadastrado e que será publicado futuramente.
                           </div>
                       </div>

                       <div class="card shadow">
                           <div class="card-body">
                               Título do post cadastrado e que será publicado futuramente.
                           </div>
                       </div>

                       <div class="card shadow">
                           <div class="card-body">
                              <p class="text-justify">
                                   O Presidente do SISDEP e a diretoria do Sindicato, juntamente com o representante de base da Regional de Palmas, Breno Filardi, se reuniram ontem com a Administração Superior a fim de discutir a situação dos servidores da instituição. 
                              </p>

                              <p class="text-justify">
                                   Estiveram presentes Dr. Fábio Monteiro, Dr.Murilo e Dra. Estela.
                              </p>

                               <p class="text-justify">
                                   Nesta oportunidade o sindicato solicitou o esclarecimento a respeito de medidas que foram tomadas, apresentando à Administração algumas das reivindicações que  mais urgentemente e que mais tem  afligido os servidores, diante da situação financeira da instituição.
                               </p> 

                               <p class="text-justify">
                                   Cumpre destacar dois pontos principais: a diminuição do auxílio alimentação e a efetividade das progressões dos servidores.
                               </p>

                               <p class="text-justify">
                                   Em relação ao auxílio, fomos informados que a decisão foi tomada após a análise do Conselho após discussão da forma menos brusca de implementação e tendo como parâmetro a necessidade de realização de cortes. Neste contexto foi assegurado que a instituição encontra-se em tratativas com o governo na busca de reaver suplementações que possam reverter o corte em questão e em sendo positivas, o retorno do pagamento. 

                               </p>

                               <p class="text-justify">
                                   No que se refere às progressões, nos foi informado pela Administração que estas não serão publicadas juntamente com as promoções dos membros, até que seja realizado pela instituição nova análise financeira, após a aplicabilidade dos cortes já implementados. Ressaltamos que nos foi informado, também, que já no mês de março esta reanálise será realizada, ocasião em que também estará, a Diretoria do SISDEP, na Administração para sermos informados a respeito, já podendo haver assim a regularização da situação com a devida expectativa de implementação de tal direito. Nesse caso, ressaltamos que o SISDEP está NOTIFICANDO a gestão para implementação imediata e retroativa de todas as progressões, para análise e posterior medidas. 
                               </p>

                               <p class="text-justify">
                                   Importante esclarecer que durante este período de tratativas será realizado um cronograma a ser seguido de reuniões quinzenais com a Administração Superior, a fim de intensificarmos a busca de claras informações e o repasse aos servidores destas informações. Assim, todos poderão estar a par dos assuntos tratados e das respostas obtidas, inclusive será franqueado o acesso à reunião e participação de servidores para sugestões e contribuições, os que tiverem interesse podem procurar qualquer integrante da diretoria.
                               </p>

                               <p class="text-justify">
                                   Novamente foi questionada a questão do Banco de horas sistematizado, o qual fomos informados que ainda estão em análise a implementação.
                               </p>
                           </div>
                        </div>

                        <div class="card shadow">
                           <div class="card-header">
                               Galeria da Imagens
                           </div>
                           <div class="card-body">
                              <div class="card imagem-capa">
                                  <img src="images/sapo_note.jpg" alt="Título da Imagem" class="card-img-top">
                                  <div class="card-body text-center">
                                      <p class="card-title">
                                          Imagem definida como a principal.
                                      </p>
                                  </div>
                              </div>
                               <div class="card-columns">
                                   <div class="card"><img src="images/sapo_note.jpg" alt="Título da Imagem" class="card-img-top"></div>
                                   <div class="card"><img src="images/sapo_pose.jpg" alt="Título da Imagem" class="card-img-top"></div>
                                   <div class="card"><img src="images/sapo_yoga.jpg" alt="Título da Imagem" class="card-img-top"></div>
                                   <div class="card"><img src="images/sapo_yoga.jpg" alt="Título da Imagem" class="card-img-top"></div>
                                   <div class="card"><img src="images/sapo_note.jpg" alt="Título da Imagem" class="card-img-top"></div>
                                   <div class="card"><img src="images/sapo_pose.jpg" alt="Título da Imagem" class="card-img-top"></div>
                               </div>
                           </div>
                       </div>

                       <div class="card shadow">
                          <div class="card-header">
                              Aplicação
                          </div>
                          <div class="card-body">
                               Destino
                          </div>
                       </div>

                       <div class="card shadow">
                          <div class="card-header">
                              Bloco
                          </div>
                          <div class="card-body">
                              Destino
                          </div>
                       </div>
                      </div>

                      <div class="col-md-3">
                          <div class="card shadow">
                              <div class="card-header">Título</div>
                              <div class="card-body">
                                <a href="#" class="btn btn-outline-secondary btn-block">Apagar</a>
                                <a href="#" class="btn btn-outline-secondary btn-block">Editar</a>
                                <a href="#" class="btn btn-outline-secondary btn-block">Ver todos</a>
                              </div>
                          </div>

                          <div class="card shadow">
                              <div class="card-header">Documentos</div>
                              <div class="card-body">
                                <a href="#" class="btn btn-outline-secondary btn-block">Adicionar</a>
                              </div>
                          </div>

                          <div class="card shadow">
                              <div class="card-header">Núcleos</div>
                              <div class="card-body">
                                <a href="#" class="btn btn-outline-secondary btn-block">Adicionar</a>
                              </div>
                          </div>

                          <div class="card shadow">
                              <div class="card-header">Cards</div>
                              <div class="card-body">
                                <a href="#" class="btn btn-outline-secondary btn-block">Adicionar</a>
                              </div>
                          </div>
                      </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="comentario" role="tabpanel" aria-labelledby="nav-comentario-tab">
                    <div class="card">
                      <div class="card-header">Comentário de <strong>Ricardo Silva dos Santos</strong></div>
                      <div class="card-body">
                          <p><strong>Email:</strong> ricardo.ss@defensoria.to.def.br</p>
                          <p><strong>Situação:</strong> ativo</p>
                          <p class="text-justify"><strong>Comentário:</strong><br>Cumpre destacar dois pontos principais: a diminuição do auxílio alimentação e a efetividade das progressões dos servidores.</p>
                      </div>
                    </div>
                    
                    <div class="card">
                      <div class="card-header">Comentário de <strong>Ricardo Silva dos Santos</strong></div>
                      <div class="card-body">
                          <p><strong>Email:</strong> ricardo.ss@defensoria.to.def.br</p>
                          <p><strong>Situação:</strong> ativo</p>
                          <p class="text-justify"><strong>Comentário:</strong><br>Cumpre destacar dois pontos principais: a diminuição do auxílio alimentação e a efetividade das progressões dos servidores.</p>
                      </div>
                    </div>
                    
                    <div class="card">
                      <div class="card-header">Comentário de <strong>Ricardo Silva dos Santos</strong></div>
                      <div class="card-body">
                          <p><strong>Email:</strong> ricardo.ss@defensoria.to.def.br</p>
                          <p><strong>Situação:</strong> ativo</p>
                          <p class="text-justify"><strong>Comentário:</strong><br>Cumpre destacar dois pontos principais: a diminuição do auxílio alimentação e a efetividade das progressões dos servidores.</p>
                      </div>
                    </div>
                    
                    <div class="card">
                      <div class="card-header">Comentário de <strong>Ricardo Silva dos Santos</strong></div>
                      <div class="card-body">
                          <p><strong>Email:</strong> ricardo.ss@defensoria.to.def.br</p>
                          <p><strong>Situação:</strong> ativo</p>
                          <p class="text-justify"><strong>Comentário:</strong><br>Cumpre destacar dois pontos principais: a diminuição do auxílio alimentação e a efetividade das progressões dos servidores.</p>
                      </div>
                    </div>
                </div>
            </div>
        </main>

      </div>
    </div>
      
    <footer class="footer fixed-bottom bg-dark mt-auto py_3">
       <div class="container">
         <span class="text-muted">© 2020 - Defensoria Pública do Estado Tocantins - Diretoria de Tecnologia da Informação.</span>
       </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace()
    </script>
  </body>
</html>
